/* 
 */
 *{
     margin: 0px;
     
 }
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0px;
     overflow: hidden;
     background-color:white;
 }
 li {
     float: left;
 }
h1{
    font-family: sans-serif;
}

 li a {
     display: block;
     color:black;
     text-align: center;
     padding: 20px 16px;
     text-decoration: none;
     font-size: large;
     font-weight: bolder;
     font-family:sans-serif;
 }
 .li{
    padding-left: 800px;
 }
 .active{
    background-image: linear-gradient(to right, rgb(219, 78, 149), rgb(241, 162, 116));
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 20px;
 }

 .jug{
     width: 100px;
     height: 50px;
     position: relative;
     top: -65px;
     left: 250px;
 }
 .body{
     padding: 150px 200px;
     background-image: linear-gradient(to right, rgb(219, 78, 149), rgb(235, 117, 49));
     margin-left: 50px;
     margin-right: 50px;
     margin-top:-40px;
     overflow-x: hidden;

 }
 body{
    overflow-x: hidden;
 }
 h3, h1, p {
     color: white;
     padding: 10px 0px;
     
 }
 h3, p{
    font-size: large;
    font-weight: bolder;
    font-family:sans-serif;
 }
 .btn {
     width: 200px;
     height: 50px;
     color: rgb(219, 78, 149);
     font-size: x-large;
     font-weight: bolder;
     font-family:sans-serif;
     border-radius: 5px;
     border: 0px white;
 }
 .car{
     position: relative;
     top: -550px;
     left: 850px;
 }
 .body2{
     clip-path: polygon(0% 0%, 50% 2%, 100% 0%, 100% 100%, 0% 100%);
     background-image: linear-gradient(to right, blue, navy);
     padding: 150px 200px;
     margin-left: 50px;
     margin-right: 50px;
     margin-top:-525px;
     overflow-x: hidden;
     position: relative;
    top: -10px;    
 }
 h2{
     text-align: center;
 }
 .box{
     background-color: white;
     border-radius: 5px;
     float: right;

     
 }
 .box *{
     color: #000000;
 }
 .containerbox{
    align-content: center;
    justify-content: center;
    
 }